.actions.center
  .btn-group.btn-group-justified.btn-group-raised
    = link_to "Edit", edit_post_path(@post), class: 'btn btn-primary'
    = link_to "Delete", post_path(@post), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary'