@media (min-width: 768px) {
  .container-width {
    width: 750px;
    margin: 0px auto;
  }
}

@media (min-width: 992px) {
  .container-width {
    width: 970px;
    margin: 0px auto;
  }
}

@media (min-width: 1200px) {
  .container-width {
    width: 1170px;
    margin: 0px auto;
  }
}

body {
  #debug {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .container {
    background-color: #dfdfdf;
    margin-top: 60px;
    height: 90%;  // fallback
    height: calc(100vh - 70px);

    .post-wrapper {
      .well {
        margin-bottom: 0px;
      }
    }

    .flash {
      padding: 10px 20px;
      text-align: center;
    }

    .form {
      .error {
        padding: 5px;
        margin: 10px;
      }

      .form-group {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
      }

      .margin-top-20 {
        margin-top: 20px;
      }
    }
  }

  .post {
    margin: 10px auto;
  }

  .panel-heading {
    border-bottom: thin solid;
  }

  .actions {
    width: 40%;
  }
}

.center {
  margin: 0px auto;
}