%nav.navbar.navbar-default.navbar-fixed-top
  .container-width
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Home", root_path
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Log In", "#"
        %li
          = link_to "Create a Post", new_post_path